OPENAI_API_KEY=""
LANGSMITH_API_KEY=""
LANGSMITH_TRACING_V2="true"
LANGSMITH_PROJECT="proyecto-multiagentes"
TAVILY_API_KEY=""
DEALERSHIP_DB_PATH="data/dealership.db"
SHOW_SQL_DEBUG="false"
MAX_CONTEXT_MESSAGES="18"
MAX_AGENT_TOOL_ITERATIONS="8"
MAX_QUOTE_ITERATIONS_PER_TURN="3"
MAX_CONTACT_ITERATIONS_PER_TURN="3"
CONTACT_DEDUP_WINDOW_MINUTES="0"
DEFAULT_CONVERSATION_LANGUAGE="es"
FINAL_SUPERVISOR_USE_LLM="true"
OPENAI_TIMEOUT_SECONDS="45"
